.button {
  font-size: var(--s);
  padding: 1em 2em;
  border-radius: var(--6xl);
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  cursor: pointer;
  align-self: center;

  & svg {
    width: 1.4em;
    height: 1.4em;
  }

  &:hover {
    transform: scale(1.05);
  }

  &.primary {
    background-color: var(--orange-peel);
    color: var(--white);
  }

  &.white {
    background-color: var(--white);
    color: var(--orange-peel);
  }

  &.black {
    background-color: var(--black);
    color: var(--white);
  }

  &.hollow {
    background-color: transparent;
    border: 2px solid var(--orange-peel);
    color: var(--orange-peel);
    padding: calc(1em - 2px) calc(2em - 2px);
  }

  &.hollow:hover {
    background-color: var(--orange-peel);
    color: var(--white);
  }

  &.medium {
    font-size: var(--m);
  }

  &.large {
    font-size: var(--l);
  }

  &.full {
    width: 100%;
  }

  &.rounded {
    border-radius: 100px;
  }

  &.disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}
